/* 🔹 Başlıkları ortala ve puntoyu büyüt */
            body { background: #111; color: #ccc; font-family: 'Sitka Text', serif; padding: 50px; line-height: 1.6; }
            section { margin-bottom: 50px; border-bottom: 1px dashed #444; padding-bottom: 20px; }
            h1#title { color: #17FF00; font-size: 72px; }
            .content { margin-top: 10px; display: block; }
            .entry-author { color: #555; font-size: 0.8em; text-align: right; }
            hr { border: 0; border-top: 1px solid #333; margin: 40px 0; }
.entry-footer {
    border-top: 1px dotted #333;
    padding-top: 5px;
}
.entry-footer a {
    color: #17FF00 !important; /* Yazar isimleri yeşil görünsün */
    text-decoration: none;
}

a.url {
  color: red;
}
a.url:visited {
  color: rgb(0, 255, 213);
}

a.url:hover {
  color: yellow;
}